@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cute+Font&display=swap');

/* Font Imports */

@font-face{
    src: url(/Resources/Dependencies/Font/Aaargh.ttf);
    font-size: 30px;
    font-family: Aaargh;
}
@font-face{
    src: url(/Resources/Dependencies/Font/CaviarDreams.ttf);
    font-family: CaviarDreams;
}
@font-face{
    src: url(/Resources/Dependencies/Font/Gravity-Book.otf);
    font-family: GravityBook;
}
@font-face{
    src: url(/Resources/Dependencies/Font/Square.ttf);
    font-family: Square;
}
* {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
}

.header {
    margin-top: 0.1em;
    text-align: center;
    color: #9eb6da;
    font-size: 80px;
    letter-spacing:3px;
}

.header p {
    font-family: 'Bebas Neue', cursive;
}

.header .caption {
    margin: 1em;
    font-size:20px;
    font-family: Square;
}
.container {
    display: flex;
    justify-content: center;
}
.logContainer {
    width: 90%;
    height: 80%;
    background-color: #ececec;
}

.log-title {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'heading2';
}